nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
  position: fixed;
  top: 0;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div i:hover {
  cursor: pointer;
}

.logo {
  font-family: "Bungee", cursive;
  font-size: 1.3em;
}