.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-tweet form {
  width: 80%;
}

.new-tweet h3 {
  margin-bottom: 0;
  color: #95918a;
}

.tweet-text-box {
  /* had to create another box to contain the text in order to control the input in case text was one long string of letters */
  height: auto;
  word-wrap: break-word
}

#tweet-text {
  background: transparent;
  width: 100%;
  outline: 0 none;
  border-style: none;
  border-bottom: 3px solid #545149;
  resize: none;
  font-size: 0.8em;
  font-weight: bold;
  height: auto;
}

.new-tweet-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}

.new-tweet-bar button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-size: 0.8em;
  padding: 3px 10px;
  border-style: hidden;
}

.new-tweet-bar button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 0px 1px rgba(64, 86, 161, 0.3);

}

.error {
  border: 2px solid red;
  text-align: center;
  padding: 5px;
  margin: 5px;
}